html {
    background-color: rgb(65, 82, 90);
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column {
    max-width: 300px;
    min-width: 300px;
    background-color: rgb(255, 255, 255);
    margin: 20px 10px 10px 10px;
    padding: 10px;
    border-radius: 20px;
}

.column h2 {
    text-align: center;
    margin: 0px 0px 30px 0px;
    padding: 0px;
}

.index-item {
    margin: 15px;
}

a {
    text-decoration: none;
    color: black;
}

a:link, a:active {
    color: black;
}

a:hover {
    color: grey;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(228, 228, 228);
}

.output {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

.labeled-checkbox {
    display: flex;
    flex-direction: row;
}

.labeled-dropdown {
    display: flex;
    flex-direction: row;
}

.rules {
    margin: 15px;
    text-align: left;
}

.checkbox {
    margin-right: 15px;
}

.dropdown {
    margin-right: 15px;
}

.button {
    margin-right: 15px;
}